<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="local-logging-package" value="../Chapter11/MicroserviceNET.Logging\bin\Release" />
    <add key="local-monitoring-package" value="../Chapter11/MicroserviceNET.Monitoring\bin\Release" />
  </packageSources>
</configuration>
